.mainContainer {
  width: 100%;
  position: absolute;
  background: url("../../Img/mainBackground.png");
  height: 100vh;

  .navbarContainer {
    height: 200px;

    .Wrapper {
      padding: 0px 20px;
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: space-around;

      ul {
        display: flex;
        list-style: none;
        align-items: center;

        img {
          margin-right: 60px;
          width: 200px;
        }

        li {
          margin-right: 70px;
          font-size: 18px;
          font-weight: 500;
          color: #fff;

          @media only screen and (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }

  .slider {
    margin-top: 20px;
    height: 500px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;

    @media only screen and (max-width: 933px) {
      margin-top: 0;
    }

    .container {
      width: 100vw;
      align-items: center;
      justify-content: center;
      display: flex;

      .item {
        width: 900px;
        height: 910px;
        display: flex;
        align-items: center;
        justify-content: center;

        .youtube {
          @media only screen and (max-width: 933px) {
            width: 550px;
            height: 420px;
          }

          @media only screen and (max-width: 768px) {
            width: 450px;
            height: 320px;
          }

          @media only screen and (max-width: 468px) {
            width: 400px;
            height: 320px;
          }
        }
      }
    }
  }

  .logoContainer {
    margin-top: 400px;
    margin-left: 720px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 0.95s ease;

    @media only screen and (max-width: 1512px) {
      margin-left: 620px;
    }

    @media only screen and (max-width: 1412px) {
      margin-left: 540px;
    }

    @media only screen and (max-width: 1212px) {
      margin-left: 490px;
    }

    @media only screen and (max-width: 1112px) {
      margin-left: 400px;
    }

    @media only screen and (max-width: 1012px) {
      margin-left: 350px;
    }

    @media only screen and (max-width: 933px) {
      margin-top: 380px;
      margin-left: 300px;
    }

    @media only screen and (max-width: 833px) {
      margin-top: 380px;
      margin-left: 250px;
    }

    @media only screen and (max-width: 768px) {
      margin-top: 330px;
      margin-left: 200px;
    }

    @media only screen and (max-width: 633px) {
      margin-top: 330px;
      margin-left: 150px;
    }

    @media only screen and (max-width: 533px) {
      margin-top: 330px;
      margin-left: 100px;
    }

    @media only screen and (max-width: 468px) {
      margin-top: 330px;
      margin-left: 80px;
    }

    @media only screen and (max-width: 430px) {
      margin-top: 330px;
      margin-left: 80px;
    }

    @media only screen and (max-width: 400px) {
      margin-top: 330px;
      margin-left: 70px;
    }

    .logo {
      width: 100vw;
      align-items: center;
      display: flex;

      .imgItem {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 450px;

          @media only screen and (max-width: 933px) {
            width: 300px;
          }
        }
      }
    }
  }

  .arrow {
    height: 100px;
    position: absolute;
    cursor: pointer;

    @media only screen and (max-width: 933px) {
      height: 70px;
    }

    &.left {
      left: 200px;
      top: 500px;
      transform: rotate(-180deg);

      @media only screen and (max-width: 1512px) {
        left: 200px;
        top: 700px;
      }

      @media only screen and (max-width: 700px) {
        top: 700px;
        left: 100px;
      }
    }

    &.right {
      top: 500px;
      right: 200px;

      @media only screen and (max-width: 1512px) {
        top: 700px;
        right: 200px;
      }

      @media only screen and (max-width: 700px) {
        top: 700px;
        right: 100px;
      }
    }
  }
}
